*{
    margin: auto;

}

img {
   display: block;

}

body{
    padding: 20px;
}

ul {
   background-color: rgb(165, 98, 21);
   
}
.home {
    text-align: center;
}
a {
    display: block;
    text-align: center;
}